<html>
<head><title>QUIS 5</title>

<link rel="stylesheet" href="static/css/style.css">	
</head>
   <body bgcolor="5283D9">
   	<center><h1><br/><font color="#ED98AD">"Absensi Kelas"</h1></font></center>
      <center><form action = "http://localhost:5000/result" method = "POST">
         <p style= "color:#ED98AD">Name <input type = "text" name = "Name" /></p>
         <p style= "color:#ED98AD">NPM <input type = "text" name = "NPM" /></p>
         <p style= "color:#ED98AD">Kelas <input type = "text" name = "Kelas" /></p>
         <p style= "color:#ED98AD">Matkul <input type ="text" name = "Matkul" /></p>
         <p style= "color:#ED98AD"><input type = "Submit" value = "Submit" /></p>
         
      </form></center>
   </body>
</html>